{% extends "website/base.html" %}
{% block title %}Gracias por contactar | Alberto Vara{% endblock %}
{% block description %}Gracias por contactar con Alberto Vara{% endblock %}
{% block content %}	
        <div class="col-md-6 col-sm-12 box-info">
            <h1>8 Reinas</h1>
            <p>Recarga la página para probar diferentes soluciones:</p>
            {% for f in board %}
	            <div class="line-8queens">
                    {% for c in f %}<div class="field {{ c.class }} " >{% if c.sol %}X{% endif %}</div>{% endfor %}
	            </div>
            {% endfor %}
        </div>
{% endblock %}
 
{% block footer %}
{% endblock %}
{% block extra_js %}
{% endblock %}
