{% extends "website/base.html" %}
{% block title %}Gracias por contactar | Alberto Vara{% endblock %}
{% block description %}Gracias por contactar con Alberto Vara{% endblock %}
{% block content %}	
        <div class="col-md-9 col-sm-12 box-info">
            <h1>Currículum</h1>
            <h2>Senior Web Analyst & Developer en <a href="http://www.gobalo.es" target="_blank">Góbalo</a></h2>
            <h3>Julio de 2011 - Actualidad</h3>
            <p>
            <ul>
                <li>Auditorías de SoftWare y FrameWork propios a través de Vendor Audit de Google</li>
				<li>Análisis y gestión de proyectos con UML y SCRUM</li>
				<li>Arquitectura de proyectos y productos con Patrones de Diseño (MVC, Singleton, Facade)</li>
				<li>Desarrollo de proyectos con Extreme Programing</li>
				<li>Experto en PHP 5 y MySQL 5</li>
				<li>Mantenimiento y configuración de Servidores (Linux Debian)</li>
				<li>Desarrollo de proyectos en Python y Django</li>
				<li>Tutor de prácticas de Desarrollador Jr</li>
			</ul>	
			<b>Desarrollos web con:</b><br>
			Google, Universidad Nebrija, CEPYME, ASEBIR, Nekicesa Packaging, Publimedia/Clece OOH...</p>
            <h2>Programador en <a href="http://www.yunbit.es/" target="_blank">Yunbit</a></h2>
            <h3>Abril de 2010 - julio de 2011</h3>
            <p>
            Desarrollo de aplicaciones web en PHP con tecnología y FrameWorks a medida desarrollados internamente:
            <ul>
                <li>CRM, ERP, Web Sites, Email Marketing</li>
                <li>Plataformas e-Learning: Entorno para crear cursos a medida con un conjunto de plantillas y herramientas de autor</li>
                <li>Ecommerce: tiendas online</li>
                <li>Desarrollo de proyectos con Extreme Programing</li>
                <li>Experto en PHP 5 y MySQL 5</li>
                <li>Mantenimiento y configuración de Servidores (Linux Debian)</li>
                <li>Desarrollo de proyectos en Python y Django</li>
                <li>Tutor de prácticas de Desarrollador Jr</li>
            </ul>   
            <b>Desarrollos web con:</b><br>
            AEF, AFAL, CuVitt, Siliken, Inversis, FIUS, FIAPAS, Essilor...</p>
        </div>
{% endblock %}
 
{% block footer %}
{% endblock %}
{% block extra_js %}
{% endblock %}
