{% extends "website/base.html" %}

{% block content %}	
		<section id="about">
			<div class="container page">
				<div class="section-title">
					<h1 class="super-title" data-animate="fade-in-top">I´m Alberto Vara.<br />It's nice to meet you.</h1>
					<p class="subheading" data-animate="fade-in-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br />
					</p>
				</div>
			</div>
		</section>
		<section class="grey">
			<div class="container page">
				<div class="section-title">
					<h2 data-animate="fade-in">What I do?</h2>
				</div>
				<div class="row" style="margin-top: 30px; margin-bottom: 10px;">
					<div data-animate="fade-in-top" class="col-xs-4 col-sm-2 col-md-2 col-lg-2" style="margin-left: 4%;">
						<img src="{{ STATIC_URL }}img/php.png" alt="PHP" title="PHP"/>
					</div>
					<div data-animate="fade-in-top" class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
						<img src="{{ STATIC_URL }}img/google-app-engine.png" alt="GAE" title="GAE"/>
					</div>
					<div data-animate="fade-in-top" class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
						<img src="{{ STATIC_URL }}img/python.png" alt="Python" title="Python"/>
					</div>
					<div data-animate="fade-in-top" class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
						<img src="{{ STATIC_URL }}img/django.png" alt="Django" title="Django"/>
					</div>
					<div data-animate="fade-in-top" class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
						<img src="{{ STATIC_URL }}img/mysql.png" alt="MySQL" title="MySQL"/>
					</div>
					<!-- 
					<div data-animate="fade-in-top" class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
						<img src="{{ STATIC_URL }}img/sqlite.png" alt="SQLite" title="SQLite"/>
					</div>
					 -->
					<div data-animate="fade-in-top" class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
						<img src="{{ STATIC_URL }}img/scrum.png" alt="SCRUM" title="SCRUM"/>
					</div>
					<!--  
					<div data-animate="fade-in-top" class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
						<img src="{{ STATIC_URL }}img/json.png" alt="JSON" title="JSON"/>
					</div>
					-->
				</div>
				<div class="row">
					<div data-animate="fade-in-top" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="feature-box">
							<i class="fa fa-folder-open"></i>
							<h4>PRODUCT SOFTWARE</h4>
							<p> Praesent vitae purus eu libero laoreet ornare. Justo quamet cursus neque. Fusce dui nibh auctor. Nam ornare neque odio.</p>
						</div>
					</div>
					<div data-animate="fade-in-top" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="feature-box">
							<i class="fa fa-cogs"></i>
							<h4>DEVELOP</h4>
							<p> Praesent vitae purus eu libero laoreet ornare. Justo quamet cursus neque. Fusce dui nibh auctor. Nam ornare neque odio.</p>
						</div>
					</div>
					<div data-animate="fade-in-top" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="feature-box">
							<i class="fa fa-users"></i>
							<h4>WEB 2.0</h4>
							<p> Praesent vitae purus eu libero laoreet ornare. Justo quamet cursus neque. Fusce dui nibh auctor. Nam ornare neque odio.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="quote" class="parallax">
			<div class="pattern"></div>
			<div class="container">
				<div class="quote white" data-animate="fade-in">            
                	<h2>If you want to accomplish something in the world, idealism is not enough - you need to choose a method that works to achieve the goal.</h2>
                	<p>- Richard Stallman -</p>            
            	</div>
			</div>
		</section>
		<section id="portfolio">
			<div class="page">
				<div class="container">
					<div class="section-title">
						<h1 data-animate="fade-in-top"><span class="text-primary">My</span> Work</h1>
						<hr data-animate="fade-in" />
						<p class="subheading" data-animate="fade-in-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
					</div>
				</div>
				<ul id="portfolio-filters" class="portfolio-grid-controls" data-animate="fade-in">
					<li class="filter" data-filter="all">
						All
					</li>
					<li class="filter" data-filter="social">
						Social Network
					</li>
					<li class="filter" data-filter="crm">
						CRM
					</li>
					<li class="filter" data-filter="website">
						Websites
					</li>
					<li class="filter" data-filter="framework">
						Frameworks
					</li>
					<li class="filter" data-filter="php">
						PHP
					</li>
					<li class="filter" data-filter="python">
						Python
					</li>
				</ul>
				<div id="portfolio-items" class="portfolio-grid" data-animate="fade-in">
					<div class="portfolio-item crm php social all" data-title="Atenea Solutions" data-description='
					<b>WEBSITE:</b> <a href="http://atenea.solutions" target="_blank">http://atenea.solutions</a><br/>
					<b>TECHNOLOGIES:</b>
					<ul>
					<li>PHP 5.4</li>
					<li>MySQL 5</li>
					<li>OLIF Framework</li>
					<li>Wordpress</li>
					</ul>
					<p><b>DESCRIPTION:</b> Atenea es un proyecto personal híbrido entre un CRM de gestión de negocio de productos pero con la incorporación de la filosofía de una Red Social para poder acercar a proveedores y distribuidores.</p>
					' data-largesrc="{{ STATIC_URL }}img/projects/atenea_800_600.png">
						<div class="portfolio-item-inner">
							<div class="portfolio-image">
								<div class="portfolio-overlay">
									<div class="portfolio-details">
										<h3>Atenea Solutions</h3>
										<h6>PHP CRM/Social Network business management</h6>
									</div>
								</div>
								<img src="{{ STATIC_URL }}img/projects/atenea_480_230.png" alt="Atenea Solutions" title="Atenea Solutions" />
							</div>
						</div>
					</div>
					<div class="portfolio-item social python all" data-title="Revenge Book" data-description='
					<b>DEVELOP WEBSITE:</b> <a href="https://github.com/avara1986/RevengeBook" target="_blank">http://github.com/RevengeBook</a><br/>
					<b>TECHNOLOGIES:</b>
					<ul>
					<li>Python 2.7</li>
					<li>Django 1.6</li>
					</ul>
					<p><b>DESCRIPTION:</b> [PROYECTO EN DESARROLLO] Revenge Book es un proyecto personal. Una pequeña red social nacida como sátira de Facebook donde los usuarios pueden intercambiar mensajes con sus amigos, subir de niveles y compartir</p>
					' data-largesrc="{{ STATIC_URL }}img/projects/rb_800_600.png">
						<div class="portfolio-item-inner">
							<div class="portfolio-image">
								<div class="portfolio-overlay">
									<div class="portfolio-details">
										<h3>Revenge Book</h3>
										<h6>Django Social network</h6>
									</div>
								</div>
								<img src="{{ STATIC_URL }}img/projects/rb_480_230.png" alt="Atenea Solutions" title="Atenea Solutions" />
							</div>
						</div>
					</div>

					<div class="portfolio-item crm php all" data-title="GestCasa" data-description='
					<b>WEBSITE:</b> <a href="http://gestcasa.net" target="_blank">http://gestcasa.net</a><br/>
					<b>TECHNOLOGIES:</b>
					<ul>
					<li>PHP 5.4</li>
					<li>MySQL 5</li>
					<li>OLIF Framework</li>
					</ul>
					<p><b>DESCRIPTION:</b> [PROYECTO EN DESARROLLO/ABANDONADO] GestCasa es un proyecto personal sin ánimo de difusión ni lucro. Fue un pequeño CRM para el control de gastos del hogar y planificación a 1 año vista de la evolución de los gastos</p>
					' data-largesrc="{{ STATIC_URL }}img/demo/portfolio/14_big.jpg">
						<div class="portfolio-item-inner">
							<div class="portfolio-image">
								<div class="portfolio-overlay">
									<div class="portfolio-details">
										<h3>GestCasa</h3>
										<h6>PHP CRM household expenses management</h6>
									</div>
								</div>
								<img src="{{ STATIC_URL }}img/demo/portfolio/14.jpg" alt="" />
							</div>
						</div>
					</div>

					<div class="portfolio-item framework php all" data-title="OLIF Framework" data-description='
					<b>WEBSITE:</b> <a href="http://olif-avara.rhcloud.com" target="_blank">http://olif-avara.rhcloud.com</a><br/>
					<b>TECHNOLOGIES:</b>
					<ul>
					<li>PHP 5.2 >=</li>
					<li>MySQL 5 >=</li>
					<li>Singleton & Facade</li>
					<li>MVC</li>
					<li>ORM</li>
					<li>Templates</li>
					<li>Modules</li>
					<li>Oauth</li>
					<li>Security: Success <a href="https://partner-security.withgoogle.com/docs/webapp_requirements" target="_blank">Google Vendor Audits</a></li>
					<li>Support Cloud: <a href="https://www.openshift.com/" target="_blank">Red Hat - OpenShift</a> & <a href="https://cloud.google.com/" target="_blank">Google App Engine</a></li>
					</ul>
					<p><b>DESCRIPTION:</b> PHP Framework. Proyecto propio de investigación y desarrollo para servir como base a todas mis aplicaciones. 
					Su gran potencial reside en la fácil portabilidad de un alojamiento a otro, su sencilla puesta a punto para arrancar (pensado siempre desde la filosofía eXtreme programming),
					su rápido aprendizaje y el aumento de la productividad</p>
 					' data-largesrc="{{ STATIC_URL }}img/projects/olif_800_600.png">
						<div class="portfolio-item-inner">
							<div class="portfolio-image">
								<div class="portfolio-overlay">
									<div class="portfolio-details">
										<h3>OLIF</h3>
										<h6>PHP Framework</h6>
									</div>
								</div>
								<img src="{{ STATIC_URL }}img/projects/olif_480_230.png" alt="OLIF" title="OLIF"/>
							</div>
						</div>
					</div>

					<div class="portfolio-item framework php all" data-title="Olimpo Framework" data-description='
					<b>TECHNOLOGIES:</b>
					<ul>
					<li>PHP 5.0 >= & <= 5.3 </li>
					<li>MySQL 5 >=</li>
					<li>Templates</li>
					</ul>
					<p><b>DESCRIPTION:</b> Mi primer PHP Framework. Proyecto propio de investigación y desarrollo para servir como base a todas mis aplicaciones. 
					Se usó profesionalmente durante 2 años, pero, de los errores aprende uno y por falta de experiencia murió el proyecto dando nacimiento a OLIF Framework</p>
 					' data-largesrc="{{ STATIC_URL }}img/demo/portfolio/14_big.jpg">
						<div class="portfolio-item-inner">
							<div class="portfolio-image">
								<div class="portfolio-overlay">
									<div class="portfolio-details">
										<h3>Olimpo</h3>
										<h6>PHP Framework</h6>
									</div>
								</div>
								<img src="{{ STATIC_URL }}img/demo/portfolio/14.jpg" alt="" />
							</div>
						</div>
					</div>

					<div class="portfolio-item social python all" data-title="Pitble" data-description='
					<b>WEBSITE:</b> <a href="https://github.com/openwebinars-django/pitble" target="_blank">https://github.com/openwebinars-django/pitble</a><br/>
					<b>TECHNOLOGIES:</b>
					<ul>
					<li>Python 2.7</li>
					<li>Django 1.6</li>
					</ul>
					<p><b>DESCRIPTION:</b> Proyecto conjunto en el curso de <a href="http://openwebinars.net/" target="_blank">OpenWebinars</a> de conocimientos básicos de Django impartido 
					por <a href="http://es.linkedin.com/pub/juan-pablo-martín-cobos/88/8b/a36" target="_blank">Pablo Martín</a>.</p>
 					' data-largesrc="{{ STATIC_URL }}img/demo/portfolio/1_big.jpg">
						<div class="portfolio-item-inner">
							<div class="portfolio-image">
								<div class="portfolio-overlay">
									<div class="portfolio-details">
										<h3>Pitble</h3>
										<h6>Django Social network</h6>
									</div>
								</div>
								<img src="{{ STATIC_URL }}img/demo/portfolio/1.jpg" alt="" />
							</div>
						</div>
					</div>
				<div class="portfolio-item website python all" data-title="Alberto Vara" data-description='
					<b>WEBSITE:</b> <a href="http://a-vara.appspot.com" target="_blank">This website</a><br/>
					<b>TECHNOLOGIES:</b>
					<ul>
					<li>Python 2.7</li>
					<li>Django 1.5</li>
					<li><a href="http://django-nonrel.org" target="_blank">Django non-rel</a></li>
					<li><a href="https://cloud.google.com/" target="_blank">Google App Engine</a></li>
					</ul>
					<p><b>DESCRIPTION:</b> Este website desarrollado con Django + Django non-rel para aprovechar todo el potencial de las bases de datos No-SQL de GAE.</p>
					' data-largesrc="{{ STATIC_URL }}img/demo/portfolio/1_big.jpg">
						<div class="portfolio-item-inner">
							<div class="portfolio-image">
								<div class="portfolio-overlay">
									<div class="portfolio-details">
										<h3>Alberto Vara</h3>
										<h6>Django non-rel Website</h6>
									</div>
								</div>
								<img src="{{ STATIC_URL }}img/demo/portfolio/1.jpg" alt="" />
							</div>
						</div>
					</div>
					<!-- 
					<div class="portfolio-item website all" data-title="Natural Food" data-description="
					" data-largesrc="{{ STATIC_URL }}img/demo/portfolio/1_big.jpg">
						<div class="portfolio-item-inner">
							<div class="portfolio-image">
								<div class="portfolio-overlay">
									<div class="portfolio-details">
										<h3>Dora Stefanova</h3>
										<h6>Website</h6>
									</div>
								</div>
								<img src="{{ STATIC_URL }}img/demo/portfolio/1.jpg" alt="" />
							</div>
						</div>
					</div>
					 -->
				</div>
			</div>
		</section>
		<section id="follow-me" class="dark">
			<div class="container page">
				<div class="connect text-center" data-animate="fade-in-top">
					<h2 class="light white">Say hello or just connect with me</h2>
					<ul class="social-media">
						<li><a href="https://github.com/avara1986" target="_blank"><i class="fa fa-github"></i></a></li>
						<li><a href="https://www.linkedin.com/in/albertovara" target="_blank"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="https://plus.google.com/u/0/108262913768691622319/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="https://twitter.com/a_vara_n" target="_blank"><i class="fa fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>
		</section>
		<section class="parallax" style="background-image: url({{ STATIC_URL }}img/bg_4.png);">
			<div class="pattern"></div>
			<div class="container page">
				<div class="contact-details">
					<div class="icon" data-animate="fade-in-top">
						<i class="fa fa-envelope"></i>
					</div>
					<div class="phone-number" data-animate="fade-in-top">
						<h2>a.vara.1986@gmail.com</h2>
					</div>
					<div class="company-address" data-animate="fade-in-top">
						<h2>Contact me</h2>
					</div>
				</div>
			</div>
		</section>
		<section id="contact">
			<div class="container page">
				<div class="section-title">
					<h1 data-animate="fade-in-top" data-delay="none">Contact</h1>
					<hr data-animate="fade-in" data-delay="none" />
					<p data-animate="fade-in-top" class="subheading">
						You want to say hello, or you want to know more about me? Drop me a call! I&nbsp;will be happy to answer you.
					</p>
				</div>
				<form id="contact-form" name="contact-form" action="#" method="post">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4" data-animate="fade-in-left" data-delay="none">
							<div class="form-group">
								<input class="form-control input-lg" type="text" name="" placeholder="Name" />
							</div>
							<div class="form-group">
								<input class="form-control input-lg" type="text" name="" placeholder="E-mail" />
							</div>
							<div class="form-group">
								<input class="form-control input-lg" type="text" name="" placeholder="Subject" />
							</div>		
						</div>
						<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" data-animate="fade-in-right" data-delay="none">
							<div class="form-group">
								<textarea class="form-control" placeholder="Your message"></textarea>
							</div>
							<div class="form-group">
								<!-- <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" /> -->
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
		<section class="dark">
			<div class="pattern"></div>
			<div class="container">
				<div class="quote white" data-animate="fade-in">
                	<h2>Always look on the bright side of life.</h2>
                	<p>- Monty Python -</p>
            	</div>
			</div>
		</section>
		<!-- 
		<section id="location-map">
			<div id="google-map" class="map"></div>
		</section>
		-->
{% endblock %}