{% extends "website/base.html" %}
{% block title %}Inicio | Alberto Vara{% endblock %}
{% block description %}Web personal y portfolio de Alberto Vara. Senior Analyst & Web developer en PHP y Python{% endblock %}
{% block content %}	
        <div class="col-md-6 col-sm-12">
            <img src="{{ STATIC_URL }}img/alberto_vara_315x315.jpg" class="img-home img-rounded"/>
            <h1>Alberto Vara Navarrete</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, iusto, unde, sunt incidunt id sapiente rerum soluta voluptate harum veniam fuga odit ea pariatur vel eaque sint sequi tenetur eligendi.</p>
            <p class="icons-rrss">
            <a href="https://github.com/avara1986" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/albertovara" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://plus.google.com/u/0/108262913768691622319/about" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a href="https://twitter.com/a_vara_n" target="_blank"><i class="fa fa-twitter"></i></a>
            
            </p>
        </div>
{% endblock %}
 
{% block footer %}

<div class="" id="physic-layer">
</div>
{% endblock %}
{% block extra_js %}
<script src="{{ STATIC_URL }}js/physicsjs-full.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/pixi.js"></script>
<script src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}
