{% extends "website/base.html" %}

{% block content %}	
        <div class="col-md-6 col-sm-12">
            <img src="" class="img-home img-rounded"/>
            <h1><a href="https://github.com/avara1986/RevengeBook" target="_blank">RevengeBook</a></h1>
            <b>DEV WEBSITE:</b> <a href="https://github.com/avara1986/RevengeBook" target="_blank">http://github.com/RevengeBook</a><br/>
            <b>TECNOLOGÍAS:</b>
            <ul>
            <li>Python 2.7</li>
            <li>Django 1.6</li>
            </ul>
            <p><b>DESCRIPCIÓN:</b> 
            [PROYECTO EN DESARROLLO] Revenge Book es un proyecto personal. Una pequeña red social nacida como sátira de Facebook donde los usuarios pueden intercambiar mensajes con sus amigos, subir de niveles y compartir</p>
        </div>
{% endblock %}
 
{% block footer %}
{% endblock %}
{% block extra_js %}
{% endblock %}
