{% extends "website/base.html" %}
{% block title %}Atenea Solutions | Alberto Vara{% endblock %}
{% block description %}CRM de gestión de negocio de Alberto Vara. Tecnologías como PHP y OLIF Framework{% endblock %}
{% block content %}	
        <div class="col-md-6 col-sm-12">
            <img src="" class="img-home img-rounded"/>
            <h1><a href="http://atenea.solutions" target="_blank">Atenea Solutions</a></h1>
            <b>WEBSITE:</b> <a href="http://atenea.solutions" target="_blank">http://atenea.solutions</a><br/>
            <b>TECNOLOGÍAS:</b>
            <ul>
            <li>PHP 5.4</li>
            <li>MySQL 5</li>
            <li><a href="/projects/olif/">OLIF Framework</a></li>
            <li>Wordpress</li>
            </ul>
            <p><b>DESCRIPCIÓN:</b> Atenea es un proyecto personal híbrido entre un CRM de gestión de negocio de productos pero con la incorporación de la filosofía de una Red Social para poder acercar a proveedores y distribuidores.</p>
        </div>
{% endblock %}
 
{% block footer %}
{% endblock %}
{% block extra_js %}
{% endblock %}
