{% extends "website/base.html" %}
{% block title %}WeMa | Alberto Vara{% endblock %}
{% block description %}Proyecto en PHP de Alberto Vara. Tecnologías como Symfony, OLIF framework{% endblock %}
{% block content %}	
        <div class="col-md-6 col-sm-12 box-info">
            <h1>CSS Beautifier</h1>
            <b>WEBSITE:</b> <a href="http://cssbeautifier.com" target="_blank">http://cssbeautifier.com</a><br/>
            <b>TECNOLOGÍAS:</b>
            <ul>
            <li>Symfony 2</li>
            <li>PHP 5.4</li>
            <li>MySQL 5</li>
            </ul>
            <p><b>DESCRIPCIÓN:</b> CSS Beautifier es un proyecto personal nacido para apoyar a compañeros de diseño y maquetadores. <br>
            Dada una URL, la analiza y los CSS que existen en la página y elimina las reglas de CSS que no se usan permitiendo así 
            minificar los ficheros de estilos</p>
            <p class="icons-rrss pull-right">
                <a href="https://github.com/avara1986/CSSBeautifier" target="_blank"><i class="fa fa-github"></i></a>
                <a href="http://cssbeautifier.com" target="_blank"><i class="fa fa-external-link"></i></a>
            </p>
        </div>
{% endblock %}
 
{% block footer %}
{% endblock %}
{% block extra_js %}
{% endblock %}
