{% extends "website/base.html" %}

{% block content %}	
        <div class="col-md-6 col-sm-12">
            <img src="" class="img-home img-rounded"/>
            <h1><a href="https://github.com/avara1986/Olimpo" target="_blank">Olimpo Framework</a></h1>
            <b>TECHNOLOGIES:</b>
            <ul>
            <li>PHP 5.0 >= & <= 5.3 </li>
            <li>MySQL 5 >=</li>
            <li>Templates</li>
            </ul>
            <p><b>DESCRIPTION:</b> Mi primer PHP Framework. Proyecto propio de investigación y desarrollo para servir cosmo base a todas mis aplicaciones. 
            Se usó profesionalmente durante 2 años, pero, de los errores aprende uno y por falta de experiencia murió el proyecto dando nacimiento a OLIF Framework</p>
        </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block extra_js %}
{% endblock %}
