{% extends "website/base.html" %}
{% block title %}Olimpo Framework | Alberto Vara{% endblock %}
{% block description %}Framework de PHP de Alberto Vara. Tecnologías como PHP{% endblock %}
{% block content %}	
        <div class="col-md-6 col-sm-12 box-info">

            <h1>Olimpo Framework</h1>
            <b>GITHUB:</b> <a href="https://github.com/avara1986/Olimpo" target="_blank">https://github.com/avara1986/Olimpo</a><br/>
            <b>TECHNOLOGIES:</b>
            <ul>
            <li>PHP 5.0 >= & <= 5.3 </li>
            <li>MySQL 5 >=</li>
            <li>Templates</li>
            </ul>
            <p><b>DESCRIPTION:</b> Mi primer PHP Framework. Proyecto propio de investigación y desarrollo para servir como base a todas mis aplicaciones. 
            Se usó profesionalmente durante 2 años, pero, de los errores aprende uno y por falta de experiencia murió el proyecto dando nacimiento a OLIF Framework</p>
            <p class="icons-rrss pull-right">
                <a href="https://github.com/avara1986/Olimpo" target="_blank"><i class="fa fa-github"></i></a>
            </p>
        </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block extra_js %}
{% endblock %}
