{% extends "website/base.html" %}
{% block title %}WeMa | Alberto Vara{% endblock %}
{% block description %}Proyecto en PHP de Alberto Vara. Tecnologías como Symfony, OLIF framework{% endblock %}
{% block content %}	
        <div class="col-md-6 col-sm-12 box-info">
            <h1>WeMa</h1>
            <b>WEBSITE:</b> <a href="http://www.we-ma.com/" target="_blank">http://www.we-ma.com</a><br/>
            <b>PLAY STORE:</b> <a href="https://play.google.com/store/apps/details?id=com.avara.WeMa" target="_blank">https://play.google.com</a><br/>
            <b>TECNOLOGÍAS:</b>
            <ul>
            <li>Symfony 2</li>
            <li><a href="/projects/olif/">OLIF Framework</a></li>
            <li>Phonegap</li>
            <li>AngularJS</li>
            <li>JQuery</li>
            <li>PHP 5.4</li>
            <li>MySQL 5</li>
            <li>Wordpress</li>
            </ul>
            <p><b>DESCRIPCIÓN:</b> WeMa es un proyecto personal que gira en torno al marketing digital.<br>
            Por un lado, es un portal que recopila podcast de esta temática, contando con una App móvil para Android.<br>
            Su otra rama es para la búsqueda de empleo rastrando muchos portales e indexando nuevas ofertas</p>
            <p class="icons-rrss" style="width: 100%;font-size: 24px;float: left;margin-bottom: 20px;">
                <a href="http://podcast.we-ma.com/" target="_blank" class="pull-right" >podcast.we-ma.com <i class="fa fa-external-link"></i></a>
            </p>
            <p class="icons-rrss" style="width: 100%;font-size: 24px;float: left;margin-bottom: 20px;">
                <a href="http://empleo.we-ma.com/" target="_blank" class="pull-right">empleo.we-ma.com <i class="fa fa-external-link"></i></a>
            </p>
            <p class="icons-rrss" style="width: 100%;font-size: 24px;float: left;margin-bottom: 20px;">
                <a href="https://play.google.com/store/apps/details?id=com.avara.WeMa" target="_blank" class="pull-right">
                  <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/es-419_generic_rgb_wo_45.png">
                </a>
            </p>
        </div>
{% endblock %}
 
{% block footer %}
{% endblock %}
{% block extra_js %}
{% endblock %}
