{% extends "website/base.html" %}
{% block title %}OLIF Framework | Alberto Vara{% endblock %}
{% block description %}Framework de PHP de Alberto Vara. Tecnologías como PHP, Cloud, ORM y MVC{% endblock %}
{% block content %}	
        <div class="col-md-6 col-sm-12 box-info">
            <h1>OLIF Framework</h1>
               <b>WEBSITE:</b> <a href="http://olif-avara.rhcloud.com" target="_blank">http://olif-avara.rhcloud.com</a><br/>
               <b>GITHUB:</b> <a href="https://github.com/olif-fm" target="_blank">https://github.com/olif-fm</a><br/>
               <b>TECNOLOGÍAS:</b>
               <ul>
               <li>PHP 5.2 >=</li>
               <li>MySQL 5 >=</li>
               <li>MVC, Singleton & Facade</li>
               <li>ORM</li>
               <li>Templates</li>
               <li>Modules</li>
               <li>Oauth</li>
               <li>Security: Success <a href="https://partner-security.withgoogle.com/docs/webapp_requirements" target="_blank">Google Vendor Audits</a></li>
               <li>Support Cloud: <a href="https://www.openshift.com/" target="_blank">Red Hat - OpenShift</a> & <a href="https://cloud.google.com/" target="_blank">Google App Engine</a></li>
               </ul>
               <p><b>DESCRIPCIÓN:</b> PHP Framework. Proyecto propio de investigación y desarrollo para servir como base a todas mis aplicaciones. 
               Su gran potencial reside en la fácil portabilidad de un alojamiento a otro, su sencilla puesta a punto para arrancar (pensado siempre desde la filosofía eXtreme programming),
               su rápido aprendizaje y el aumento de la productividad</p>
	            <p class="icons-rrss pull-right">
	                <a href="https://github.com/olif-fm" target="_blank"><i class="fa fa-github"></i></a>
	                <a href="http://olif-avara.rhcloud.com" target="_blank"><i class="fa fa-external-link"></i></a>
	            </p>
	            
        </div>
{% endblock %}
 
{% block footer %}
{% endblock %}
{% block extra_js %}
{% endblock %}
