{% extends "website/base.html" %}
{% block title %}Atenea Solutions | Alberto Vara{% endblock %}
{% block description %}CRM de gestión de negocio de Alberto Vara. Tecnologías como PHP y OLIF Framework{% endblock %}
{% block content %}	
        <div class="col-md-6 col-sm-12 box-info">
            <img src="" class="img-home img-rounded"/>
            <h1>Atenea Solutions</h1>
            <b>WEBSITE:</b> <a href="http://atenea.solutions/descubre/" target="_blank">http://atenea.solutions</a><br/>
            <b>TECNOLOGÍAS:</b>
            <ul>
            <li><a href="/projects/olif/">OLIF Framework</a></li>
            <li>PHP 5.4</li>
            <li>MySQL 5</li>
            <li>Wordpress</li>
            <li>JQuery</li>
            </ul>
            <p><b>DESCRIPCIÓN:</b> Atenea es un proyecto personal híbrido entre un CRM de gestión de negocio de productos pero con la 
            incorporación de la filosofía de una Red Social para poder acercar a proveedores y distribuidores.</p>
            <p class="icons-rrss pull-right">
                <a href="http://atenea.solutions/descubre/" target="_blank"><i class="fa fa-external-link"></i></a>
            </p>
        </div>
{% endblock %}
 
{% block footer %}
{% endblock %}
{% block extra_js %}
{% endblock %}
