{% extends "website/base.html" %}
{% block title %}Gracias por contactar | Alberto Vara{% endblock %}
{% block description %}Gracias por contactar con Alberto Vara{% endblock %}
{% block content %}	
        <div class="col-md-6 col-sm-12" >
            <img src="" class="img-home img-rounded"/>
            <h1>¡Gracias!</h1>
            <p>Gracias por contactar conmigo. Te responderé lo antes posible</p>
        </div>
{% endblock %}
 
{% block footer %}
{% endblock %}
{% block extra_js %}
{% endblock %}
